header {
    background-color: black;

}

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    margin: 5px;
}

.logo{
    border-radius: 70%;
    box-shadow: 3px gray;
    margin-left: 10px;
}

.derecha{
    text-align: right;
}
/*
@media(min-width: 381px) {
    .derecha {
        text-align: end;
    }
}

@media(max-width: 380px) {
    .derecha {
        text-align: center;
    }
}*/