<header>
    <div class="row centrar" style="margin-right: 5px;">
        <!--Logo de Argentina Programa-->
        <div class="col-2 ">
            <img src="../../../assets/M (2).png" class="img-fluid logo" alt="Logo" width="80" height="100">
        </div>
        <div class="col-8 centrar" >
            <h1>M.|.|.|.|.|.M</h1>
        </div> 
        <div class="col-2 derecha">
            <!--Redes sociales-->
            <!--*Podriamos hacer editable las redes sociales*PENDIENTE-->
            <a href="https://www.linkedin.com/in/matias-macijaukas"><img src="../../../assets/linkedin.png" alt="linkedin" width="70" class="img-fluid">
            </a>
        </div>
    </div>
</header>