<header>
    <div class="row centrar">
        <!--Logo de Argentina Programa-->
        <div class="col-4 ">
            <img src="../../../assets/favicon.png" alt="Logo" width="150" height="100">
        </div>
        <div class="col-8 derecha">
            <!--Redes sociales-->
            <!--*Podriamos hacer editable las redes sociales*PENDIENTE-->
            <a href="https://www.linkedin.com/in/matias-macijaukas"><img src="../../../assets/linkedin.png" alt="linkedin" width="55">
            </a>
        </div>
    </div>
</header>