<div class="central">
    <h3>Habilidades</h3>
    <div class="row centrar">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <!--Repeticion de las habilidades encontradas en una lista-->
            <circle-progress [percent]="50" [radius]="100" [space]="10"
                [imageSrc]="'../../../assets/proteus.png'" [title]="'Liderazgo'" [showImage]="true"
                [showUnits]="false" [showSubtitle]="false" [showImage]="false" [imageHeight]="100" [imageWidth]="120"
                [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#53a9ff'" [outerStrokeWidth]="16"
                [innerStrokeWidth]="3" [outerStrokeColor]="'blue'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="1000">
            </circle-progress>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h4>Ingles</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated background-color:blue"
                    role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="10" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
</div>