<body>
    <!-- Componente central post ruteo / Inicio/Home  -->
    <app-header></app-header>
    <app-banner-info></app-banner-info>
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <app-experience></app-experience>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <app-education></app-education>
    </div>
    </div>
    <app-skills></app-skills>
    <app-achievements></app-achievements>
    <app-proyects></app-proyects>
    <app-footer></app-footer>
</body>