<body>
    <!-- Componente central post ruteo / Inicio/Home  -->
    <app-header></app-header>
    <app-banner-info></app-banner-info>
    <div class="row"> <!-- VER SI FUNCIONA data-masonry='{"percentPosition": true }'-->
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <app-experience></app-experience>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <app-education></app-education>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <app-skills></app-skills>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <app-proyects></app-proyects>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <app-achievements></app-achievements>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <app-contact-info></app-contact-info>
        </div>
    </div>
    <app-footer></app-footer>
</body>