<div class="central">
    <h3>Formaciones <i class="bi bi-mortarboard"></i></h3>
    <div class="row">
        <div class="col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 5px;">
            <img src="../../../assets/argprograma.png" class="img-fluid imagenfoto" alt="Foto Perfil">
        </div>
        <div class="col-9" style="margin: auto; padding: 5px;">
            <h5>Edutin Academy</h5>
            <p style="display: inline;">Cursos de programación en Python y PHP.</p><br>
            <p style="display: inline;">(03/2024 - 05/2024)</p><br>
            <p class="collapse" id="EducationBtn"><small>
                    Programación y conceptos avanzados en Python e introducción a PHP.</small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 5px;">
            <img src="../../../assets/icl.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
        </div>
        <div class="col-9" style="margin: auto; padding: 5px;">
            <h5>Instituto de Capacitación Laboral</h5>
            <p style="display: inline;">Curso de mantenimiento y reparación de electrodomésticos</p><br>
            <p style="display: inline;">(07/2023 - 07/2024)</p><br>
            <p class="collapse" id="EducationBtn"><small>
                    Aprendizaje y conocimiento sobre el funcionamiento de electrodomésticos, incluyendo la reparación y mantenimiento de placas electrónicas y piezas mecánicas, además de su debida instalación. </small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 5px;">
            <img src="../../../assets/argprograma.png" class="img-fluid imagenfoto" alt="Foto Perfil">
        </div>
        <div class="col-9" style="margin: auto; padding: 5px;">
            <h5>SeProgramar y YoProgramo 4.0</h5>
            <p style="display: inline;">Curso de programación web Full Stack Jr</p><br>
            <p style="display: inline;">(10/2022 - 05/2023)</p><br>
            <p class="collapse" id="EducationBtn"><small>
                    Aprendizaje de arquitectura web distribuida (Frontend y Backend), bases de datos y JSON, programación orientada a objetos (POO), lenguajes HTML, CSS, JavaScript, TypeScript y Java, así como el uso de frameworks como Angular y Spring Boot.</small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 5px;">
            <img src="../../../assets/meli.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
        </div>
        <div class="col-9" style="margin: auto; padding: 5px;">
            <h5>Taller MELI</h5>
            <p style="display: inline;">Curso de capacitación, gestión y manejo de Mercado Libre</p><br>
            <p style="display: inline;">(07/2021 - 09/2021)</p><br>
            <p class="collapse" id="EducationBtn"><small>
                    Conocimientos sobre las herramientas, funcionalidades y mejores prácticas para maximizar el rendimiento y la eficiencia en el uso de Mercado Libre. Creación de anuncios efectivos y atractivos, así como la gestión de inventario y precios.
                    Manejo de consultas y reclamos de clientes, resolución de conflictos y gestión de la reputación. Comprensión de las métricas y análisis disponibles en la aplicación.</small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 5px;">
            <img src="../../../assets/siemens.png" class="img-fluid imagenfoto" alt="Foto Perfil">
        </div>
        <div class="col-9" style="margin: auto; padding: 5px;">
            <h5>Capacitación Siemens S.A.</h5>
            <p style="display: inline;">Curso corto sobre circuitos eléctricos</p><br>
            <p style="display: inline;">(09/2018)</p><br>
            <p class="collapse" id="EducationBtn"><small>
                    Capacitación sobre circuitos eléctricos domiciliarios e industriales.</small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 5px;">
            <img src="../../../assets/ecea.png" class="img-fluid imagenfoto" alt="Foto Perfil">
        </div>
        <div class="col-9" style="margin: auto; padding: 5px;">
            <h5>ECEA - Tecnicatura en electronica</h5>
            <p style="display: inline;">Aprendizaje y entendimientos de instalaciones eléctricas, diseño y reparación de dispositivos electrónicos, programación, entre otras cosas</p><br>
            <p style="display: inline;">(03/2014 - 12/2020)</p><br>
            <p class="collapse" id="EducationBtn"><small>
                    Aprendizaje de fundamentos de electrónica, diseño y análisis de circuitos, sistemas digitales, instrumentación y mediciones, electrónica de potencia, comunicaciones electrónicas y programación de microcontroladores</small>
            </p>
        </div>

    </div>
    <div style="display: flex; justify-content: center; margin: 7px;">
        <button type="button" style="text-align: center;" class="btn btn-outline-light" data-bs-toggle="collapse"
            data-bs-target="#EducationBtn" (click)="onExpand()">
            <p style="margin: auto;" *ngIf="isExpand">Ocultar</p>
            <p *ngIf="!isExpand" style="margin: auto;">Expandir</p>
        </button>
    </div>
</div>