<div class="body">
    <div class="btn diseño">
        <!-- Brindamos informacion del proyecto -->
        <h4>PortFolio de Matias Macijaukas </h4><br>
        <p>
            Se trata de una simple SPA creada y diseñada para incluir información 
            sobre mi currículum. <br>
            (Tengo un Portfolio Web utilizando POO, JavaScript para el front, Java para el back, sistema de Login y base de datos, pero con las reiteradas caídas de Render, resultaba complicado y tedioso esperar su carga al entrar en la página. Asi que opté por realizar un simple portfolio utilizando únicamente HTML, CSS y TypeScript). <br>
            <br>
            Copyright 2024 Matias Macijaukas <br>
            Última edicion: 01/08/2024
        </p>
        <!-- Link para volver al inicio -->
        <a routerLink="/">Inicio</a>
    </div>
</div>