<div class="central">
    <h3>Datos de Contacto <i class="bi bi-telephone-inbound"></i></h3>
    <div class="row">
        <div class="col-1" style="text-align: center;">
            <i class="bi bi-whatsapp"></i>
        </div>
        <div class="col-11">
            <h6>(+54)11-41984156</h6>
        </div>
        <div class="col-1" style="text-align: center;">
            <i class="bi bi-envelope-at"></i>
        </div>
        <div class="col-11">
            <h6>macijaukas.matias@gmail.com</h6>
        </div>
        <div class="col-1" style="text-align: center;">
            <i class="bi bi-linkedin"></i>
        </div>
        <div class="col-11">
            <a href="https://www.linkedin.com/in/matias-macijaukas"><h6>Linkedin</h6></a>
        </div>
        <div class="col-1" style="text-align: center;">
            <i class="bi bi-filetype-pdf"></i>
        </div>
        <div class="col-11">

            <a href="https://drive.google.com/file/d/1JHqECJDU2dCp8bB1KPl3CP_AsTHUKhzx/view?usp=sharing">
                <h6>CVMatiasMacijaukas.pdf</h6>
            </a>
        </div>
    </div>
</div>