<div class="central">
    <h3>Logros <i class="bi bi-trophy"></i></h3>
    <div class="row">
        <div class="col-1" style="text-align: center;">
            <i class="bi bi-diamond-half"></i>
        </div>
        <div class="col-11">
            <h6>Reconocimiento por mejores diseños de planos.</h6>
        </div>
        <div class="col-1" style="text-align: center;">
            <i class="bi bi-diamond-half"></i>
        </div>
        <div class="col-11">
            <h6>Reconocimientos por competiciones en OMA (Olimpiada de Matemática Argentina).</h6>
        </div>
        <div class="col-1" style="text-align: center;">
            <i class="bi bi-diamond-half"></i>
        </div>
        <div class="col-11">

            <h6>Mención por mejor proyecto a la propuesta de Consultec BA.</h6>
        </div>
        <div class="col-1" style="text-align: center;">
            <i class="bi bi-diamond-half"></i>
        </div>
        <div class="col-11">

            <h6>Mención "mejores dibujos" en concurso ARTEando.</h6>
        </div>
    </div>
</div>