<div class="central">
    <h3>Experiencia Profesional <i class="bi bi-tools"></i></h3>

    <div class="row">
        <div class="col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 5px;">
            <img src="../../../assets/gia.jpg" class="img-fluid " alt="Foto Perfil">
        </div>
        <div class="col-9" style="margin: auto; padding: 5px;">
            <h5>Técnico de Campo e Instalaciones</h5>
            <p style="display: inline;">GIA International </p>
            <p style="display: inline;">(06/2023 - 02/2024)</p>
            <p class="collapse" id="ExperienceBtn"><small>
                Trabajé en el campo de la seguridad electrónica, donde me encargué de la instalación de cámaras de vigilancia, cerraduras electromagnéticas y tótems de seguridad para edificios, incluyendo la integración de sistemas de control de acceso y de alarma.</small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2"  style="padding: 5px;">
            <img src="../../../assets/prestaciones.png" class="img-fluid imagenfoto" alt="Foto Perfil">
        </div>
        <div class="col-9" style="margin: auto; padding: 5px;">
            <h5>Reparaciones y Mantenimiento de Equipos de Soldadura</h5>
            <p style="display: inline;">Prestaciones Eléctricas </p>
            <p style="display: inline;">(04/2022 - 02/2023)</p>
            <p class="collapse" id="ExperienceBtn"><small>
                Trabajé en la reparación de equipos como soldadoras de arco MMA, MIG/MAG y TIG, entre otros, además del mantenimiento preventivo, limpieza y calibración de los mismos.</small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2"  style="padding: 5px;">
            <img src="../../../assets/Logo Tato II.jpg" class="img-fluid imagenfoto" alt="Foto Perfil">
        </div>
        <div class="col-9" style="margin: auto; padding: 5px;">
            <h5>Gerente Asistente</h5>
            <p style="display: inline;">Restaurante TATO II </p>
            <p style="display: inline;">(02/2022 - 07/2022)</p>
            <p class="collapse" id="ExperienceBtn"><small>
                Trabajé en la gerencia del local, como ayudante de cocina y en el manejo de caja. Supervisé las operaciones diarias, incluyendo la atención al cliente, seguimiento de pedidos y gestión del inventario. </small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2"  style="padding: 5px;">
            <img src="../../../assets/logoMlabares.jpeg" class="img-fluid imagenfoto" alt="Foto Perfil">
        </div>
        <div class="col-9" style="margin: auto; padding: 5px;">
            <h5>Vendedor al Público y Administración de E-commerce</h5>
            <p style="display: inline;">Juguetería Malabares </p>
            <p style="display: inline;">(04/2020 - 01/2022)</p>
            <p class="collapse" id="ExperienceBtn"><small>
                Trabajé como vendedor en atención al público y en la administración de la cuenta de Mercado Libre, encargándome de atender consultas, resolver problemas, proporcionar información sobre los productos, coordinar envíos y gestionar la reputación.</small>
            </p>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin: 7px;">
        <button type="button" style="text-align: center;" class="btn btn-outline-light" data-bs-toggle="collapse"
            data-bs-target="#ExperienceBtn" (click)="onExpand()">
            <p style="margin: auto;" *ngIf="isExpand">Ocultar</p>
            <p *ngIf="!isExpand" style="margin: auto;">Expandir</p>
        </button>
    </div>

</div>